/******************************************************************************
The style rules in this sheet apply to the edge version of the published site
******************************************************************************/

/* Our default values set as CSS variables */
:root {
    --color-bg: #25201e;
    --color-bg-alt: #d0ff00;
    --color-text-main: #f4eeec;
    --wrapper-height: 100vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: sans-serif;
    --color-header: #d0ff00;
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    margin:0;
    color: var(--color-text-main);
    font-size:large;
    text-align:center;
    padding:1rem;
  }
  
  /* Very light scaling for our illustration */
  .title, h1 {
    color: var(--color-header);
    font-family: var(--font-family);
    font-size: 2.6rem;
    font-weight:600;
    margin-top:3rem;
    margin-bottom:0.5em;
  }
  
  /* ⚠️ Location indicator ⚠️ */
  location-indicator {
    font-weight:bold;
    text-align:center;
  }
  
  /* 🚨 Hide content with "origin" class name at the edge 🚨 */
  .origin {
    display:none;
  }
  
  p {
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
  
  .edge {
    text-align:center;
  }

a:link,
a:visited {
  text-decoration:none;
  color:var(--color-header);
}
a:hover {
  color:white;
  background-color:var(--color-bg-alt);
  text-decoration:underline;
}
