/******************************************************************************
The style rules in this sheet apply to the origin version of the site
******************************************************************************/

/* Our default values set as CSS variables */
:root {
    --color-bg: #f4eeec;
    --color-bg-alt: #e7ff7a;
    --color-text-main: #000000;
    --wrapper-height: 100vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: sans-serif;
    --color-header: #4aa800;
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  body {
    font-family: var(--font-family);
    margin: 0;
    color: var(--color-text-main);
    font-size:large;
    text-align:center;
    padding:1rem;
  }
  
  /* Very light scaling for our illustration */
  .title,
  h1 {
    color: var(--color-header);
    font-family: var(--font-family);
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom:0.5em;
    margin-top:3rem;
  }
  
  /* 🚨 Hide content with "edge" class name at the origin 🚨 */
  .edge {
    display: none;
  }
  
  .origin {
    text-align:center;
  }
  
  /* ⚠️ Location indicator ⚠️ */
  location-indicator {
    font-weight:bold;
    text-align:center;
  }
  
a:link,
a:visited {
  text-decoration:none;
  color:var(--color-header);
}
a:hover {
  color:black;
  background-color:var(--color-bg-alt);
  text-decoration:underline;
}
p, ul {
    max-width:600px;
    text-align:left;
}
